{% extends "layout/basic.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 m-5">
            <div class="text-title-wr">
                <p class="text-title">{{ game.name }}</p>
                <p class="info-text">{{ game.desc }}</p>
            </div>
            <div class="side-button-1-wr btn-must-wr">
                <label class="side-button-1 btn-must">
                    <div class="side-b btn-must btn-font-style btn-effect">MUST</div>
                </label>
            </div>
            <div class="text-desc-wr">
                <span class="text-desc">Description</span>
                <p>{{ game.desc_full }}</p>
            </div>
            <div class="text-release-wr">
                <span class="text-desc">Release Date</span>
                <p class="info-text">{{ game.release }}</p>
            </div>
            <div class="text-screen-wr">
                <p class="text-desc">Screenshots</p>
            </div>
            <div class="grid grid-col-3">
                {% for screen in game.sreen_url %}
                    <div class="screen-wr screen">
                        <img class="screen-img" src="{{ screen }}">
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-sm-3 mt-lg-5">
            <div class="text-rating-wr">
                <p class="text-middle">Rating</p>
                <label class="category">
                    <div class="card card-text card-color-users">
                        <span class="category__text">Users</span>
                        <span class="category__score">{{ game.rating.users }}</span>
                    </div>
                </label>
                <label class="category">
                    <div class="card card-text card-color-critics">
                        <span class="category__text">Critics</span>
                        <span class="category__score">{{ game.rating.critics }}</span>
                    </div>
                </label>
            </div>
            <div class="text-wr">
                <p class="text-middle">Geners</p>
                <div class="grid-sm grid-sm-3">
                    {% for gener in game.geners %}
                        <label class="side-button-1">
                            <div class="btn-sm btn-font-style">{{ gener }}</div>
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="text-wr">
                <p class="text-middle">Platforms</p>
                <div class="grid-sm grid-sm-4">
                    {% for platform in game.platforms %}
                        <label class="side-button-1">
                            <div class="btn-sm btn-font-style">{{ platform }}</div>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-2 mt-5">
            <div class="text-screen-wr">
                <p class="text-desc">#Pacman Tweets</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

