{% extends "layout/basic.html" %}
{% load static %}


{% block styles %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block filter %}
                <input type="checkbox" id="side-checkbox" class="side-checkbox"/>
                <div class="side-panel">
                    <label class="side-button-2" for="side-checkbox">+</label>
                    <div class="side-title">Parameter selection</div>
                    <div>Platforms:</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">PC</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">PS4</label>
                        </div>


                        <div>Genres:</div>
                        <div>
                            <select class="form-select " aria-label="Default select example">
                                <option value="1">Platformer</option>
                                <option value="2">Shooter</option>
                                <option value="3">Fighting</option>
                            </select>
                        </div>
                        <div><label for="customRange3" class="form-label">User rating:</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3"></div>
                        <hr class="dropdown-divider">

                        <button type="button" class="btn btn-light text-danger">Apply</button>
                </div>
                <div class="side-button-1-wr">
                    <label class="side-button-1" for="side-checkbox">
                        <div class="side-b btn-font-style">Filter</div>
                    </label>
                </div>
                {% endblock %}

            </div>
            <div class="col-sm">
                <div class="container-fluid">
                    <form class="d-flex search-form">
                        <input class="form-control me-2 search-form__input" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success " type="submit">Search</button>
                    </form>

                    {% if games %}
                        <section class="grid">
                            {% for game in page_obj %}
                                <article class="grid-item">
                                    <div class="image">
                                        <img src="{{ game.img_url }}"/>
                                    </div>
                                    <div class="info">
                                        <h2 class="info-title">{{ game.name }}</h2>
                                        <span class="info-text">{{ game.desc }}</span>
                                        <div class="button-wrap">
                                            <a class="btn-more btn-font-style" href="#">More</a>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}

                        </section>
                    {% endif %}

                {% include "layout/pagination.html" %}
                </div>

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

{% endblock %}


