<div class="container-fluid">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <button class="page-link" onclick="myFunction({{ page_obj.previous_page_number }})" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>
        {% endif %}
            {% for item in page_numbers %}
                {% if item == page_obj.number %}
                <li class="page-item"><a class="page-link active">{{ item }}</a></li>
                {% else %}
                <li class="page-item"><button class="page-link" onclick="myFunction({{ item }})">{{ item }}</button></li>
                {% endif %}
            {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <button class="page-link" onclick="myFunction({{ page_obj.next_page_number }})" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
        {% endif %}
        </ul>
</div>

<script>
    function myFunction(page_number) {
        let form = document.getElementById('filter-form')    {# The element with id=filter-form is located in main.html #}
        let newField = document.createElement("INPUT");
        newField.setAttribute("name", "page");
        newField.setAttribute("value", page_number);
        form.append(newField)
        form.submit();
    }
</script>
