{% load get_page_url %}

<div class="container-fluid">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ page_obj.previous_page_number|get_page_url:filter_initials}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
            {% for page_number in page_numbers %}
                {% if page_number == page_obj.number %}
                <li class="page-item"><a class="page-link active">{{ page_number }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ page_number|get_page_url:filter_initials}}">{{ page_number }}</a></li>
                {% endif %}
            {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ page_obj.next_page_number|get_page_url:filter_initials}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
        </ul>
</div>
