{% extends "layout/basic.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid align-content-center my-lg-5">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="title-wrapper">
                    <h2 class="text-middle">Your favourite games:</h2>
                </div>
                {% if empty %}
                    <div class="card my-5">
                        <div class="card-body text-align-center">
                            {{ empty }}
                        </div>
                    </div>
                {% else %}
                    <div class="list-group">
                        {% for game in games %}
                            <div class="flex-container-row list-group-item "
                                 aria-current="true" >
                            <a class="flex-container-row list-group-item list-group-item-action"
                                 aria-current="true" href="{% url 'detail' game.id %}">

                                    <div class="flex-container-column w-100 justify-content-between grid-col-3">
                                        <h5 class="mb-1 text-middle text-muted">{{ game.name }}</h5>
                                        <small class="text-muted card-text">{{ game.genres|join:' | '|lower }}</small>


                                        <p class="mb-1">{{ game.full_description|truncatewords:6 }}</p>
                                    </div>
                                    <small class="">
                                        <a class="btn btn-danger m-4 mx-lg-2"
                                           href="{% url 'delete' game.id %}">delete</a>
                                    </small>

                            </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
{% endblock %}