{% extends 'layout/basic.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin/css/forms.css' %} "/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin/css/base.css' %} "/>

{% endblock %}


{% block content %}
    <div class="container align-content-center">
        <div class="text-wr">
            <h2 class="text-middle">Sign up</h2>
        </div>
        <div class="text-release-wr">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
{% endblock content %}
