$bg-btn: #fff
%btn-base
  display: inline-block
  transition: all .2s ease
  margin:
    left: 10px
    right: 10px

.btn-login
  @extend %btn-base
  background-color: $bg-btn

.btn-signup
  @extend %btn-base
  background-color: $bg-btn
  border-color: #fff

.title-wrapper
  margin: 25px 10px 0 0

